:root {
  --background: #808080;
  --light: #c6cbcf;
  --dark: #242525;
  --shadow: #0bce4c;
}

* {
  box-sizing: border-box;
}

body {
  margin: 30px 50px;
  line-height: 1.5;
  background-color: var(--background);
}

header {
  display: grid;
  gap: 20px;
}
/* about work contact */
.nav-box ul {
  display: grid;
  gap: 20px;
  padding: 2rem 0;
  list-style: none;
  grid-template-columns: repeat(3, 1fr);
}

.nav-box a {
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1rem;
  color: var(--light);
  background-color: var(--dark);
  box-shadow: 0 2px 10px var(--shadow);
}
/* effects */
.nav-box a:hover {
  color: var(--dark);
  background-color: var(--light);
}
/* setting up grid  */
.top-nav {
  display: grid;
  gap: 20px;
  grid-template-areas: 'picture name' 'picture title';
  grid-template-columns: repeat(auto-fit, minmax (200px, 1fr));

}

.my-picture {
  grid-area: picture;
  box-shadow: 5px 5px 10px;
}

.banner {
  height: 300px;
  width: 100%;
}

.name {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 1rem;
  font-size: 70px;
  text-shadow: 0 2px 10px #0bce4c;
}

.title {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 1rem;
  font-size: 40px;
  text-shadow: 0 2px 10px #0bce4c;
  margin-top: -100px;
}

.about-me {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  border: #242525 solid;
  margin-top: 30px;
  box-shadow: 3px 3px 10px 5px green;
}

.myself {
  color: green;
  font-size: 40px;
  background-color: #242525;
}

.para {
  font-size: 20px;
  font-weight: bold;
}
/* setting up grid for pictures */
.boxgrid {
  display: grid;
  gap: 20px;
  grid-template-areas: 'leftbox rightbox';
  margin-top: 30px;
}
/* aligning pictures and effects */
.topbox {
  position: relative;
  width: 100%;
  margin-top: 30px;
}

.bannertop {
  width: 100%;
}

.bannertop:hover {
  opacity: 0.5;
  transition: .5s ease;
  box-shadow: 0 0 10px 10px#0bce4c;
}

.topboxtext {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0bce4c;
  color: black;
}

.leftbox {
  position: relative;
  width: 100%;
  grid-area: leftbox;
}

.coding {
  width: 100%;
  height: 100%;
}

.coding:hover {
  opacity: 0.5;
  transition: .5s ease;
  box-shadow: 0 0 10px 10px#0bce4c;
}

.leftboxtext {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0bce4c;
  color: black;
}

.rightbox {
  position: relative;
  width: 100%;
  grid-area: rightbox;
}

.laptop {
  width: 100%;
  height: 100%;
}

.laptop:hover {
  opacity: 0.5;
  transition: .5s ease;
  box-shadow: 0 0 10px 10px#0bce4c;
}

.rightboxtext {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0bce4c;
  color: black;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.contact {
  text-transform: uppercase;
  font-size: 1.1rem;
  color: var(--light);
  background-color: var(--dark);
  box-shadow: 0 2px 10px var(--shadow);
  width: 30%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
}

.contact:hover {
  background-color: var(--light);
  color: var(--dark);
}
/* screen responsiveness */
@media screen and (max-width: 900px) {
  .top-nav {
    grid-template-areas: 'picture picture''name title';
  }
}

@media screen and (max-width: 600px) {
  .top-nav {
    grid-template-areas: 'picture' 'name' 'title';
  }
}

